body {
    display: flex;
    justify-content: center;
    align-items: left;
    margin: 1em 1em 0em 1em;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    margin:-.7vh;
    padding-left: 43%;
    padding-right: 43%;
    background-color: rgb(81, 82, 146);
    border-radius: .5vw;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align:center;
}

li{
    font-size: 1.2em;
    margin-left: 2em;
    width: 65%;
    list-style-type: none;  /* Gets rid of bullet points */
    padding-bottom: 1vh;
}

hr{
    border: none; /* Remove the default border */
    border-top: 1px solid rgba(81, 82, 146, 0.341); /* Set the top border to create a line */
    margin: 20px 0;
}

#tasklist{
    background-color: black;
    margin: 20em;
    
}

input[type='checkbox'] {
    accent-color: rgb(81, 82, 146);
}

input[type='checkbox']:hover{
    scale: 115%;
}