body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

#calendar-container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 3%;
}

#calendar-header {
    display: flex;
    justify-content: space-evenly;
    max-height: 15%;
    margin-bottom: 2%;
}

#current-month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

#current-year {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-size: auto;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
}

#weekdays-container {
    /* border-bottom: 2px solid black; */
    padding: 0.5em 0 1em 0;
}

#weekdays-container ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 1px;
    padding: 0;
    color: #333;
}

#weekdays-container li {
    width: 14.28%;
    text-align: center;
    font-size: 1.2em;
}

#grid7x6 {
    flex-grow: 1;
    overflow: auto;
}

/* Can change these to a class */
#January, #February, #March, #April, #May, #June, #July, #August, #September, #October, #November, #December {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#January li, #February li, #March li, #April li, #May li, #June li, #July li, #August li, #September li, #October li, #November li, #December li {
    width: 14.28%;
    height: 16.67%;
    text-align: center;
    padding-top: 0.5em;
    box-shadow: 0 0.1px 0 0.1px #333;
    overflow-wrap: break-word;
    overflow: hidden;
}

#inputText{
    width: 80%;
    min-height: 3em;
    margin: 2%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 2.5% 0 2.5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Hides each list so that if a month is not "active" then it's not physically there */
.hidden {
    display: none !important;
}

ul.hidden li {
    display: none !important;
}