body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

#calendar-container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 65%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 3%;
}

#calendar-header {
    display: flex;
    justify-content: space-evenly;
    max-height: 15%;
    margin-bottom: 2%;
    align-items: center;
}

#current-month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

#current-year {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-size: auto;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
}

.buttons {
    display: flex;
    gap: 0.3em;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    height: 2.5em;
    width: 5em;
}

#weekdays-container {
    /* border-bottom: 2px solid black; */
    padding: 0.5em 0 1em 0;
}

#weekdays-container ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 1px;
    padding: 0;
    color: #333;
}

#weekdays-container li {
    width: 14.28%;
    text-align: center;
    font-size: 1.2em;
}

#grid7x6 {
    flex-grow: 1;
    overflow: auto;
}

/* Can change these to a class */
#January, #February, #March, #April, #May, #June, #July, #August, #September, #October, #November, #December {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#January li, #February li, #March li, #April li, #May li, #June li, #July li, #August li, #September li, #October li, #November li, #December li {
    width: 14.28%;
    height: 16.67%;
    text-align: center;
    padding-top: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 0.1px 0 0.1px #333;
    overflow-wrap: break-word;
    overflow: hidden;
}

p {
    margin: 0;
    padding-top: 0.1em;
    padding-bottom: 0;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 0.8em;
}

#inputText{
    width: 20em;
    min-height: 3em;
    margin: 2%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 2.5% 0 2.5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Hides each list so that if a month is not "active" then it's not physically there */
.hidden {
    display: none !important;
}

ul.hidden li {
    display: none !important;
}

/* Text below the calendar */
#calendarEvents {
    width: 80%;
    text-align: center;
    padding-top: 1em;
}

/* Mobile phones */
@media only screen and (max-width: 600px) {
    #calendar-header {
        display: flex;
        justify-content: space-evenly;
        max-height: 15%;
        margin-bottom: 2%;
        align-items: center;
    }

    #current-month {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6em;
        font-weight: bold;
        font-size: 1.2em;
        color: #333;
    }
    
    #current-year {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
        font-size: auto;
        font-weight: bold;
        font-size: 1.5em;
        color: #333;
    }
    
    .buttons {
        display: flex;
        gap: 0.2em;
    }
    
    button {
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0.5em 1em;
        cursor: pointer;
        height: 2em;
        width: 4em;
    }

    p {
        margin: 0;
        padding-top: 0.1em;
        padding-bottom: 0;
        padding-left: 0.2em;
        padding-right: 0.2em;
        font-size: 0.8em;
    }

    #calendarEvents {
        width: 80%;
        text-align: center;
        padding-top: 1em;
        font-size: 0.8em;
    }
}

/* background color for selected day */
#grid7x6 ul li.selected{
    background-color: #5100f354; 
    color: white; 
}


/* faint background hover effect for list items */
#grid7x6 ul li:not(.selected):hover {
    background-color: #f0f0f0; 
}

#legend-container {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: calc(50% - 5px);
}

.legend-square {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
}

.todo { background-color: rgb(120, 169, 255); }
.recreation { background-color: rgba(112, 223, 112, 0.619); }
.meeting { background-color: rgb(225, 111, 111); }
.study { background-color: rgb(247, 202, 117); }

#input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#category-dropdown {
    margin-right: 10px; 
}

#categorySelect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

#entry-management {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}
#entry-list {
    list-style: none;
    padding: 0;
}
#entry-list li {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header button {
    padding: 0;
    margin: 0;
    height: 3em;
    width: 6em;
}

/* for edit-entry purposes */
.selectedSpan {
    background-color: rgb(255, 236, 250) !important;
}

.active {
    background-color: rgb(134, 255, 168);
    color: black;
}

#selected-date {
    display: block;
    overflow-y: auto;
    max-height: 3.5em;
}

#selectedDateH3 {
    margin: 0;
}